<! DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet'>
  </head>
    <title>Rock, Paper, Scissors!</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>